#container {
    display: grid;
    grid-template-columns: repeat(20, 40px);
    grid-template-rows: repeat(20, 40px);
    order: 1;
    justify-items: stretch;
    align-items: stretch;
    box-shadow: 0 8px 22px rgba(00,00,0,0.15);
}

.content {
    background: #6CADD9;
}

.contentNewBackground {
    background: #F07A2A;
}

#panelBg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#btn {
    order: 0;
    padding: 10px 20px;
    border: 1px solid hsl(0, 0%, 20%);
    border-radius: 5px;
    background: #fff;
    transition: transform 0.1s ease-in-out;
    font-size: 15px;
    box-shadow: rgba(0,0,0,.15) 0 8px 22px;
}
#btn:hover {
    transform: scale(1.05);
}
#btnContainer {
    padding: 20px 0 20px 0;
}