#container {
    display: grid;
    grid-template-columns: repeat(20, 40px);
    grid-template-rows: repeat(20, 40px);
    order: 1;
    justify-items: stretch;
    align-items: stretch;
}

.content {
    background: #6CADD9;
}

.contentNewBackground {
    background: #F07A2A;
}

#panelBg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#btn {
    margin: 0 50%;
    order: 0;
}

#btnContainer {
    padding: 20px 0 20px 0;
}